/* Minimal CSS */

body {
    padding: 20px;
}

h1 {
  font-weight: 300;
}

input[type=text] {
    vertical-align: baseline;
}

button, input[type=submit] {
    border-width: .1rem;
}

.controls {
    padding: 0;
}

.increment {
    vertical-align: baseline;
    padding: 0;
    width: 2.4rem;
    border-radius: 2px;
    font-size: 1.4rem;
}
